html[color-mode='light'] {
    --surface1: linear-gradient(to bottom, #4584b9, #2e70a5);
    --surface2: url(../img/bg.jpg);
    --surface3: #ffffff;
    --touying: #d3d3d3;
    --element1: #111111;
    --element2: #222222;
    --element3: #333333;
    --elementInverse: #eee;
    --primary: #01408e;
    --secondary: #3c5d5c;
    --tertiary: #2b2b2b;
    --search:rgb(207,208,214); 
}

html[color-mode='dark'] {
    --surface1: linear-gradient(to bottom, #182e41, #0c1f2d);
    --surface2: url(../img/bg2.jpg);
    --surface3: #404040;
    --touying: #191919;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary:floralwhite;
    --search:#6d6e71;
}
*{
    margin: 0;
    padding: 0;
}
body {
	display: none;
    background:white;
    transition: 0.4s;
}

ul li{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

h1,h2,h3,h4,h5,p,span,tr,td,th,button{
    cursor: pointer;
}
#leftdaohang ul{
    width: 210px;
}
#fenxi{
    margin-top: 5vh;
    border-right: #01408e 5px solid;
}
#leftdaohang p{
    margin-left: -18px;
    margin-top: 60px;
    text-align: center;
    color:#01408e ;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
#leftdaohang ul li{
    padding: 15px 0 15px 0;
    text-align: center;
    font-size: 14px;
    list-style: none;
    color: #232323;
    width: 100%;
    /* border-bottom: 1px rgba(1,64,142,0.2) solid; */
}
#leftdaohang ul div:hover{
    background-color: rgba(1,64,142,0.3);
    border-right: #01408e 5px solid;
    transition:0.5s;
}
#leftdaohang ul li:hover{
    color: #0173ff;
    transition:0.5s;
}
#leftdaohang ul div{
    transition:2s;
}
#fenxi,#wenzhang,#caogao,#tupian,#zhuzhan{
    position: relative;
    top: 25px;
}
.fenxi{
  position: absolute;
  background: url('../img/fenxi.png') no-repeat;
  background-size: 30px 30px;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 40px;
}
.wenzhang{
  position: absolute;
  background: url("../img/guanli.png") no-repeat;
  background-size: 20px 20px;
  width: 50px;
  height: 50px;
  top: 14px;
  left: 45px;
}
.caogao{
  position: absolute;
  background: url("../img/caogao.png") no-repeat;
  background-size: 20px 20px;
  width: 50px;
  height: 50px;
  top: 14px;
  left: 45px;
}
.tupian{
  position: absolute;
  background: url("../img/tupian.png") no-repeat;
  background-size: 23px 23px;
  width: 50px;
  height: 50px;
  top: 14px;
  left: 45px;
}
.zhuzhan{
  position: absolute;
  background: url("../img/zhuzhan.png") no-repeat;
  background-size: 23px 23px;
  width: 50px;
  height: 50px;
  top: 14px;
  left: 45px;
}
.zidong{
  position: absolute;
  background: url("../img/dengii.png") no-repeat;
  background-size: 30px 30px;
  width: 50px;
  height: 50px;
  top: 12px;
  left: 45px;
}
.loginout{
  position: absolute;
  background: url("../img/dengchu.png") no-repeat;
  background-size: 23px 23px;
  width: 50px;
  height: 50px;
  top: 14px;
  left: 50px;
}
#zidong{
    position: absolute;
    width: 210px;
    bottom: 0;
    margin-bottom: 49px;
    padding-bottom: 70px;
}
#loginout{
    position: absolute;
    width: 210px;
    bottom: 0;
    margin-bottom: 20px;
}

#rightcontent{
    width: 100%;
}
#bestbox{
    display: flex;
}














/* 数据分析css */

.superbox{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
}
#titleshuju{  
     color: #01408e;
     font-weight: bold;
     font-size: 18px;
     align-item:center;
     width:100%;
     padding: 20px 0  20px 20px;
     border-radius: 5px;
     box-shadow: rgba(1,64,142,0.5) 0px 4px 10px 0px;
}
#tongji{
    width: 100%;
    border-radius: 5px;
    padding: 40px 10px  40px 10px;
    margin-top: 20px;
    box-shadow: rgba(1,64,142,0.5) 0px 4px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    
}
.sel1 p{
    font-size: 16px;
}
.sel1 p:nth-child(2){
    font-size: 20px;
} 
.sel1 mark{
    color: #01408e;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 5px;
    font-style: 0.75rem;
    font-weight: bold;
}
#jqplot{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 10px  30px 10px;
    height: 100%;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgba(1,64,142,0.5) 0px 4px 10px 0px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-grow:1;
}



/* 文章管理 */

.searchwenzhang{
   font-size: 18px;
   width:100%;
   padding: 20px 0  20px 20px;
   border-radius: 5px;
   box-shadow: rgba(1,64,142,0.5) 0px 4px 10px 0px;
}
input,select{
    outline:none;
    }
input:focus { outline: none; } 
.text{
    width: 250px;
    height: 25px;
    margin-left: 10px;
    margin-right: 30px;
}
.searchwenzhang select{
    width: 250px;
    height: 28px;
    margin-left: 10px;
}
.searchwenzhang button{
    float: right;
    margin-right: 45px;
    border: 1px solid transparent; 
    outline: none;   
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    color: white;
    border-radius: 2.5px;
    transition:0.3s;
}
.searchwenzhang button:hover{
    margin-top:5px;
    transition:0.3s;
}

.atriclelist{
    font-size: 18px;
    width:100%;
    margin-top: 20px;
    padding: 20px 10px  20px 10px;
    border-radius: 5px;
    box-shadow: rgba(1,64,142,0.5) 0px 4px 10px 0px;
}
table {
    width:100%;
    border-collapse: collapse;
    display: table;
}
th{
    text-align: left;
    padding: 10px 0 10px 0;
}
td{
    font-size: 14px;
    text-align: left;
    padding: 10px 0 10px 0;
    border-bottom: rgba(183, 183, 183, 1) 1px dashed;
}
.creat{
    display: flex;
    justify-content: end;
}
.tdtitle{
    width: 250px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
}
#tdlist button{
    border: 1px solid transparent; 
    outline: none;   
    height: 30px;
    width:50px;
    font-weight: bold;
    color: white;
    border-radius: 2.5px;
    transition:0.3s;
}
#commitModal{
 display: none;   
}
.modal {
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width:100%;
    height:100%;
    font-size: 12px;
            }
.btn-close {
    color: #aaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.btn-close:hover {
    color: #919191;
}
.modal-dialog {
    background: #fefefe;
    border: #333 solid 1px;
    width:30%;
    height:600px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}
.modal-body {
    padding: 10px 20px;
    height: calc(100% - 105px);
    overflow: auto;
}
.modal-header h2 {
    font-size: 20px;
}
.modal-footer {
    border-top: #eee solid 1px;
    text-align: right;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
}
    
.btn {
    background: #428bca;
    border: #357ebd solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
    margin-right: 20px;
}
.btn-new{
    background: #fff;
    border: #357ebd solid 1px;
    border-radius: 3px;
    color: #428bca;
    display: inline-block;
    font-size: 12px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
    margin-right: 20px;
}
.modal-header,
.modal-footer {
    padding: 10px 20px;
}
.modal-header {
    border-bottom: #eee solid 1px;
    height:20px;
}
#tijiao{
    font-size: 18px;
    text-align: center;
}
#tijiao p{
    margin-top: 18px; 
}
#titletxt {
    outline:none;
    border:1px gray solid;
    border-radius: 3.5px;
    height: 30px;
    width: 200px;
    margin-top: 20px; 
    text-indent: 20px;
    font-size: 18px;
}
#tijiao select{
   outline:none;
   border:1px gray solid;
   border-radius: 3.5px;
   height: 30px;
   width: 200px;
   margin-top: 20px; 
   text-indent: 20px;
   font-size: 18px;
}
#tijiao textarea{
   outline:none;
   border:1px gray solid;
   border-radius: 3.5px;
   height: 200px;
   width: 200px;
   margin-top: 20px;
   font-size: 18px;
   margin-left: 50px;
}
#biaoqian{
    outline:none;
    border:1px gray solid;
    border-radius: 3.5px;
    height: 30px;
    width: 200px;
    margin-top: 20px; 
    text-indent: 20px;
    font-size: 18px;
}