*,body,html{
	margin: 0;
	padding: 0;
}
body{
    background:url(../img/bg.jpg) ;
}
#backgroundco{
	margin: 0rem;
	width: 100%;
    background-attachment: fixed;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  font-size: 15px;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #e493d0;
  background-image: 
    radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgba(243, 11, 164, 1), rgba(243, 11, 164, 0)),
    radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));
  background-size: 
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 10s movement linear infinite;
}

body::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@keyframes movement {
  0%, 100% {
    background-size: 
      130vmax 130vmax,
      80vmax 80vmax,
      90vmax 90vmax,
      110vmax 110vmax,
      90vmax 90vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
  }
  25% {
    background-size: 
      100vmax 100vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      60vmax 60vmax;
    background-position:
      -60vmax -90vmax,
      50vmax -40vmax,
      0vmax -20vmax,
      -40vmax -20vmax,
      40vmax 60vmax;
  }
  50% {
    background-size: 
      80vmax 80vmax,
      110vmax 110vmax,
      80vmax 80vmax,
      60vmax 60vmax,
      80vmax 80vmax;
    background-position:
      -50vmax -70vmax,
      40vmax -30vmax,
      10vmax 0vmax,
      20vmax 10vmax,
      30vmax 70vmax;
  }
  75% {
    background-size: 
      90vmax 90vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      70vmax 70vmax;
    background-position:
      -50vmax -40vmax,
      50vmax -30vmax,
      20vmax 0vmax,
      -10vmax 10vmax,
      40vmax 60vmax;
  }
} 
.daohang_a{
			width: 100%;
			height: 60px;
			background: linear-gradient(to bottom,#4584b9,#2e70a5);
		}
		ul li{
			margin: 0;
			padding: 0;
			list-style:none;
			cursor: pointer;
		}
		a{
			text-decoration: none;
			outline: none;
		}
		.clen{
			clear: both;
		}
       .daohang_a li:nth-child(2){
            background-color:white;
			color: black;
        }
		.daohang_a ul li{
            border-radius:0.3125rem;
            margin-top: 15px;
            font-size: 16px;
			color: white;
			display: block;
			float: left;
			margin-right: 20px;
            padding: 6px;
		}
		.daohang_a ul{
			margin-left:5%;
		}
		.daohang_a ul li:hover{
			color: orange!important;
		}
		#dates{
			border-radius:0.3125rem;
            font-size: 16px;
			text-align: center;
			color: white;
			display:inline;
            padding: 6px;
            line-height: 60px;
            margin-left:15%; 
		}
#content{
		padding-top:2.5rem;
		width: 80%; 
		margin: auto;
}
#left_bar{
    margin-right:4.0625rem;
	float: left;
	width: 20%;
	height: 100%;
}
#right_bar{
	float: left;
	width: 20%;
	height: 100%;
	margin-left:1.5rem;
}
.right_bar_h{
	line-height: 30px;
	padding: 1.40625rem 1.40625rem 1.40625rem 1.40625rem;
	background-color: white;
	width:100%;
	border-radius:0.46875rem;
	box-shadow :#d3d3d3 0px 4px 10px 0px;
}
.right_bar_h hr{
	border:0.0125rem dashed #D3D3D3;"
	padding-top: 1.25rem;
}
.right_bar_h p{
	font-size: 0.75rem;
	color: gray;
	text-align: left;
}
.right_bar_c p{
	font-size: 0.75rem;
	color: gray;
	text-align: left;
	margin-left: -0.3125rem;
}
.right_bar_c li{
	color: gray;
	text-align: left;
	margin-bottom: 0.625rem;
	margin-top: 0.625rem;
}

.zui{
	color: gray;
	margin-left: -0.625rem;
	margin-bottom: 1.25rem;
	margin-top: -0.625rem;
}
.right_bar_c{
	margin-top:1.40625rem;
	text-align: center;
	padding: 1.40625rem 1.40625rem 1.40625rem 1.40625rem;
	background-color: white;
	width:100%;
	border-radius:0.46875rem;
	box-shadow :#d3d3d3 0px 4px 10px 0px;
}
.left_bar_h{
	text-align: center;
	padding: 1.40625rem 1.40625rem 1.40625rem 1.40625rem;
	background-color: white;
	width:100%;
	border-radius:0.46875rem;
	box-shadow :#d3d3d3 0px 4px 10px 0px;
}
.left_bar_c{
	margin-top: 22.5px;
	padding: 1.40625rem 1.40625rem 1.40625rem 1.40625rem;
	background-color: white;
	width:100%;
	border-radius:0.46875rem;
	box-shadow:#d3d3d3 0px 4px 10px 0px;
}
.left_bar_f{
	margin-top: 22.5px;
	padding: 1.40625rem 1.40625rem 1.40625rem 1.40625rem;
	background-color: white;
	width:100%;
	border-radius:0.46875rem;
	box-shadow:#d3d3d3 0px 4px 10px 0px;
}
.left_bar_h img{
	border-radius: 50%;
	width: 6.25rem;
	height: 6.25rem;
}
.left_bar_h p{
	color: gray;
	margin-top: 0.625rem;
	text-align: center;
}
.left_bar_h ul{
	margin-top: 0.625rem;
	color: gray;
	text-align: center;
	justify-content: space-between;
	display: flex;
	flex-wrap:wrap;
}
.left_bar_h li{
	width: 25%;
}
#qwe{
	float: left;
	text-align: left;
}
#asd{
	color: gray;
	text-align: right;
}
.left_bar_c p{
	color: gray;
	margin-left: -0.625rem;
	margin-bottom: 0.625rem;
	margin-top: -0.625rem;
}
.left_bar_f p{
	color: gray;
	margin-left: -0.625rem;
	margin-bottom: 0.625rem;
	margin-top: -0.625rem;
}
.left_bar_c ul{
	color: gray;
}
.left_bar_c li{
	font-size: 14px;
	line-height: 30px;
}
.left_bar_f ul{
	font-size:0.875rem;
	line-height: 40px;
	color: gray;
	justify-content: space-between;
	display: flex;
	flex-wrap:wrap;
}
#center_bar{
	margin: 0 auto;
	width: 49%;
	float: left;
}
.center{
	padding-bottom: 0.625rem;
	margin-bottom: 2.1875rem;
	width: 100%;
	background-color: white;
	border-radius:0.46875rem;
	box-shadow:#d3d3d3 0px 4px 10px 0px;
	color: gray;
}
.center img{
	border-radius:0.46875rem;
	width: 100%;
	height: 17.5rem;
	
}
.center h2,p{
	margin: auto;
	width: 90%;
}
.center p{
	padding-top: 0.625rem;
	font-size: 14px;
}
.xiaobiao{
	padding-top:1.25rem ;
	margin: auto;
	width: 90%;
}

.jixuyuedu {
	float: right;
}
#footer{
	float: left;
    bottom: 0;
	color: #545454;
	text-align: center;
	width: 100%;
	height: 9.375rem;
	background-color: #363636;
}
#footer p{
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}
#footer hr{
	margin: auto;
}
.cixi{
   width:16%;
   position: fixed;
   top: 0;
    
}



/* 内容区域css */
#neirong{
    margin: auto;
    width: 90%;
    text-align: left;
    font-size: 1rem;
    line-height: 35px;
}
#neirong a{
    color: blue;
}
#neirong ul li{
    list-style: disc;
}
#neirong ul li a{
     color: blue;
}
#neirong img{
    margin-top: 1.25rem;
}
.xiaobiao{
	padding-top:1.25rem ;
	margin: auto;
	width: 90%;
}
.jixuyuedu {
	float: right;
}
#footer{
	float: left;
    bottom: 0;
	color: #545454;
	text-align: center;
	width: 100%;
	height: 9.375rem;
	background-color: #363636;
}