html[color-mode='light'] {
    --surface1: linear-gradient(to bottom, #4584b9, #2e70a5);
    --surface2: url(../img/bg.jpg);
    --surface3: #ffffff;
    --touying: #d3d3d3;
    --element1: #111111;
    --element2: #222222;
    --element3: #333333;
    --elementInverse: #eee;
    --primary: #01408e;
    --secondary: #3c5d5c;
    --tertiary: #2b2b2b;
    --search:rgb(207,208,214); 
}

html[color-mode='dark'] {
    --surface1: linear-gradient(to bottom, #182e41, #0c1f2d);
    --surface2: url(../img/bg2.jpg);
    --surface3: #404040;
    --touying: #191919;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary:floralwhite;
    --search:#6d6e71;
}

*,
body,
html {
    margin: 0;
    padding: 0;
}

body {
    background:var(--surface2);
    transition: 0.4s;
}

#backgroundco {
    margin: 0rem;
    width: 100%;
    background-attachment: fixed;
}

:root {
    font-size: 15px;
}

.daohang {
    margin: 0 auto;
}

.daohang_a {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 60px;
    background: var(--surface1);
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
h1,h2,h3,h4,h5,p,span{
    cursor: pointer;
}
.clen {
    clear: both;
}
.daohang_a li:nth-child(1) {
    
}
.daohang_a li:nth-child(2) {
    background-color: white;
    color: black;
}

.daohang_a ul li {
    border-radius: 0.3125rem;
    margin-top: 15px;
    font-size: 16px;
    color: white;
    display: block;
    float: left;
    margin-right: 20px;
    padding: 6px;
}

.daohang_a ul li:hover {
    color: orange !important;
}

.daohang_a ul {}

#dates {
    border-radius: 0.3125rem;
    font-size: 16px;
    text-align: center;
    color: white;
    display: inline;
    line-height: 63px;
    padding: 0 100px 0 80px;
}

.easyui-linkbutton {
    display: inline;
    /*text-align: right;*/
    width: 40px;
    height: 40px;
}

#content {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
}

#left_bar {
    margin-right: 25px;
    width: 16.25rem;
    height: 100%;
}

#right_bar {
    width: 16.25rem;
    height: 100%;
    margin-left: 20px;
}

.right_bar_h {
    line-height: 30px;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    transition: 0.4s;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
}

.right_bar_h hr {
    border: 0.0125rem dashed #D3D3D3;
    margin: 10px 0;
}
#rightbarh{
    margin-top: 15px;
}
.right_bar_h p {
    font-size: 0.875rem;
    line-height: 20px;
    width: 90%;
    color: var(--element1);
    text-align: left;
    margin: auto;
    margin-top: -0.3125rem;
    transition: 0.4s;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.right_bar_c p {
    font-size: 0.875rem;
    color: var(--element1);
    text-align: left;
    margin-top: -0.3125rem;
    transition: 0.4s;
}

.right_bar_c li {
    color: var(--element1);
    text-align: left;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    transition: 0.4s;
}

.zui {
    color: var(--element1);
    margin-bottom: 1.25rem;
    margin-top: -0.625rem;
    transition: 0.4s;
}

.right_bar_c {
    margin-top: 1.40625rem;
    text-align: center;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    transition: 0.4s;
}

.left_bar_h {
    text-align: center;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    transition: 0.4s;
}

.left_bar_c {
    margin-top: 22.5px;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    transition: 0.4s;
}

.left_bar_f {
    margin-top: 22.5px;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    transition: 0.4s;
}

.left_bar_h img {
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    box-shadow: 5px 5px 15px var(--touying);
    transition: 0.4s;
}

.left_bar_h p {
    color: var(--element1);
    margin-top: 0.625rem;
    text-align: center;
    transition: 0.4s;
}

.left_bar_h ul {
    margin-top: 0.625rem;
    color: var(--element1);
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    transition: 0.4s;
}

.left_bar_h li {
    width: 25%;
}

#qwe {
    float: left;
    margin-left: 15px;
}

#asd {
    color: var(--element1);
    text-align: right;
    transition: 0.4s;
}

.left_bar_c p {
    color: var(--element1);
    margin-bottom: 0.625rem;
    margin-top: -0.625rem;
    transition: 0.4s;
    margin-left: 15px;
    margin-top: 15px;
}

.left_bar_f p {
    color: var(--element1);
    margin-bottom: 0.625rem;
    margin-top: -0.625rem;
    transition: 0.4s;
    margin-left: 15px;
    margin-top: 15px;
}

.left_bar_c ul {
    color: var(--element1);
    transition: 0.4s;
}

.left_bar_c li {
    font-size: 0.875rem;
    line-height: 30px;
}

.left_bar_f ul {
    font-size: 0.875rem;
    line-height: 40px;
    color: var(--element1);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    transition: 0.4s;
}
#center_bar {
    width: 605px;
}

.center {
    flex: 1;
    padding-bottom: 0.625rem;
    margin-bottom: 2.1875rem;
    width: 100%;
    background-color: var(--surface3);
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    color: var(--element1);
    transition: 0.4s;
}

.center img {
    border-radius: 0.46875rem;
    width: 100%;
    height: 17.5rem;

}

.center h4,
p {
    margin: auto;
    width: 90%;
}
.center h4{
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}
.center span{
    margin-right: 5px;
}
.center p {
    margin-left: 30px;
    padding-top: 0.625rem;
    font-size: 14px;
}

.xiaobiao {
    padding-top: 1.25rem;
    margin: auto;
    width: 90%;
}

.jixuyuedu {
    float: right;
}


.cixi {
    width: 16%;
    position: fixed;
    top: 0;

}



/* 内容区域css */
#neirong {
    margin: auto;
    width: 90%;
    text-align: left;
    font-size: 1rem;
    line-height: 35px;
}

#neirong a {
    color: blue;
}

#neirong ul li {
    list-style: disc;
}

#neirong ul li a {
    color: blue;
}

#neirong img {
    margin-top: 1.25rem;
}

.xiaobiao {
    padding-top: 1.25rem;
    margin: auto;
    width: 90%;
}

.jixuyuedu {
    float: right;
}

#footer{
    float: left;
    bottom: 0;
    color: #545454;
    text-align: center;
    width: 100%;
    height:200px;
    background-color: #363636;
}
#footer p{
        margin-bottom: 20px;
        margin-top: 20px;
         width: 100%;
         text-align: center;
}

/* 归档css */
#guidangbox {
    width: 100%
}

.guidangboxlist {
    width: 100%;
    height: 120px;
    background-color: var(--surface3);
    border-radius: 15px;
    margin-top: 35px;
    transition: 0.4s;
    box-shadow: var(--touying) 0px 4px 10px 0px;
}

.guidangbox h1 {
    color: var(--element1);
    transition: 0.4s;
}

.guidangboxlist p {
    color: var(--element1);
    margin-top: 20px;
    transition: 0.4s;
}

.gdtime {
    color: var(--element1);
    transition: 0.4s;
}

.gdtitle {
    font-size: 20px;
    line-height: 60px;
}

.guidangboxlist img {
    display: block;
    float: right;
    width: 150px;
    height: 120px;
    margin-top: -97px;
    border-radius: 7.5px;
}

/* 标签css */
	#center_bar #tags {
		padding: 0 20px 0 20px;
		height:100%;
		width: 95%;
		margin:20px 0 20px 0; 
		background-color:  var(--surface3);
		border-radius: 15px;
        transition: 0.4s;
        box-shadow: var(--touying) 0px 4px 10px 0px;
	}
    
    
/* 友链css */

#youlian{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}	
#youlian:after{
	content:'';
	width: 45%;
	margin: 35px 30px 0 0
}
.youlianlist{
	width: 45%;
	display: block;
	height: 120px;
	background-color: var(--surface3);
	border-radius: 15px; 
	margin: 35px 30px 0 0 ;
    transition: 0.4s;
    box-shadow: var(--touying) 0px 4px 10px 0px;
}
.youlianlist img{
	display: inline;
	width: 100px;
	height: 100px;
	border-radius: 15px; 
	margin: 10px 0 0 30px;
	box-shadow: 5px 5px 15px  var(--touying);
    transition: 0.4s;
}
.youlianlist p{
	display: inline;
	font-size: 18px;
	float: right;
	width: 100px;
	padding: 30px 40px 0 0;
	overflow: hidden;
    text-overflow: ellipsis; 
    color:  var(--element1);
    transition: 0.4s;
}

/* 搜索css */

#search{
	background-color: var(--surface3) !important;
	border-radius: 15px;
	height: 100%;
    transition: 0.4s;
}
#search h2{
	padding-top: 40px;
	margin: 0 0 0 40px;
    color: var(--element1);
    transition: 0.4s;
}
#sicon{
	 position: relative;
}
#sicon .iconsearch{
	background: url(../img/search.png) no-repeat;
	background-size: 30px 30px;
	width: 50px;
	height: 50px;
    position: absolute;
    top: 30px;
    left: 50px;
}
#search	input{
    background:var(--search);    
    outline:none;   
    border:none;
    border-radius: 7px;
    height: 50px;
    width: 90%;
    margin-top: 20px; 
    margin-left: 40px;
    margin-bottom: 40px;
    text-indent: 50px;
    font-size: 20px;
    padding-right: 20px;
    color: var(--element1);
    transition: 0.4s;
}
#search input::-webkit-input-placeholder { 
    color:var(--tertiary); 
    transition: 0.4s;
} 
.qqqq{
	width: 100%;
	margin-top: 40px; 
	background-color:  var(--surface3) !important;
	margin-bottom: 40px; 
    transition: 0.4s;
}
.qqqq p{
	padding-top: 20px;
	padding-bottom:  20px;
	font-size: 20px;
	margin-left: 40px; 
    color:var(--element1);
    transition: 0.4s;
}