html[color-mode='light'] {
    --surface1: linear-gradient(to bottom, #4584b9, #2e70a5);
    --surface2: url(../img/bg.jpg);
    --surface3: #ffffff;
    --touying: #d3d3d3;
    --element1: #344356;
    --element2: #222222;
    --element3: #333333;
    --elementInverse: #eee;
    --primary: #01408e;
    --secondary: #3c5d5c;
    --tertiary: #2b2b2b;
    --search:rgb(207,208,214); 
}

html[color-mode='dark'] {
    --surface1: linear-gradient(to bottom, #182e41, #0c1f2d);
    --surface2: url(../img/bg2.jpg);
    --surface3: #404040;
    --touying: #191919;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary:floralwhite;
    --search:#6d6e71;
}

*,
body,
html {
    margin: 0;
    padding: 0;
}

body {
    background:var(--surface2);
    transition: 0.4s;
    position: relative;
    padding-bottom: 250px;
}

#backgroundco {
    margin: 0rem;
    width: 100%;
    background-attachment: fixed;
}

:root {
    font-size: 15px;
}

.daohang {
    margin: 0 auto;
}

.daohang_a {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 60px;
    background: var(--surface1);
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}
h1,h2,h3,h4,h5,p,span{
    cursor: pointer;
}
.clen {
    clear: both;
}
.daohang_a ul li {
    border-radius: 0.3125rem;
    margin-top: 15px;
    font-size: 16px;
    color: white;
    display: block;
    float: left;
    margin-right: 20px;
    padding: 6px;
    font-weight: 600;
     font-size: 18px;
}

.daohang_a ul li:hover {
    color: orange !important;
    transition: 0.5s;
}

#dates {
    border-radius: 0.3125rem;
    font-size: 16px;
    text-align: center;
    color: white;
    display: inline;
    line-height: 63px;
    padding: 0 100px 0 80px;
    margin-left: 20px;
    font-weight: 600;
}
#dates:hover{
    color: orange;
}
.easyui-linkbutton {
    display: inline;
    /*text-align: right;*/
    width: 40px;
    height: 40px;
}

#content {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
}

@media screen and (min-width: 1201px) { 

#left_bar {
    margin-right: 25px;
    width: 20vw;
    height: 100%;
}

#right_bar {
    width:20vw;
    height: 100%;
    margin-left: 20px;
}
#center_bar {
    width: 45vw;
}
} 
@media screen and (min-width: 1401px) { 

#left_bar {
    margin-right: 25px;
    width: 15vw;
    height: 100%;
}

#right_bar {
    width:15vw;
    height: 100%;
    margin-left: 20px;
}
#center_bar {
    width: 37vw;
}
.zuiclass img{
    width: 100%;
    height: 250px;
}
} 
/* css注释：设置了浏览器宽度不小于1201px时 abc 显示1200px宽度 */ 

.right_bar_h {
    line-height: 30px;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    color: var(--element1);
    transition: 0.4s;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
}

.right_bar_h hr {
    border: 0.0125rem dashed #D3D3D3;
    margin: 10px 0;
}
#rightbarh{
    margin-top: 15px;
}
.zuijin p:nth-child(2):hover{
    color: #01408e;
    text-decoration:underline ;
    text-decoration-color: #01408e;
    font-weight: bold;
    transition: 0.4s;
}

.right_bar_h p {
    font-size: 0.875rem;
    line-height: 20px;
    width: 90%;
    color: var(--element1);
    text-align: left;
    margin: auto;
    margin-top: -0.3125rem;
    transition: 0.4s;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.right_bar_h span{
    font-size: 16px;
    font-weight: bold;
    padding-left: 2px;
}
.right_bar_c p {
    font-size: 0.875rem;
    color: var(--element1);
    text-align: left;
    margin-top: -0.3125rem;
    transition: 0.4s;
}

.right_bar_c li {
    color: var(--element1);
    text-align: left;
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
    transition: 0.4s;
}

.zui {
    color: var(--element1);
    margin-bottom: 1.25rem;
    margin-top: -0.625rem;
    transition: 0.4s;
}

.right_bar_c {
    margin-top: 22.5px;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    transition: 0.4s;
}

.left_bar_h {
    text-align: center;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    transition: 0.4s;
}

.left_bar_c {
    margin-top: 22.5px;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    transition: 0.4s;
}

.left_bar_f {
    margin-top: 22.5px;
    padding: 10px 5px;
    background-color: var(--surface3);
    width: 100%;
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    transition: 0.4s;
}

.left_bar_h img {
    transition: linear 0.8s;
    border-radius: 50%;
    width: 6.25rem;
    height: 6.25rem;
    box-shadow: 5px 5px 15px var(--touying);
    transition: 0.4s;
    margin-top: 20px;
}
.left_bar_h img:hover{
    transition: linear 0.8s;
    transform-origin: center;
    transform: rotate(360deg);
}
.left_bar_h p {
    color: var(--element1);
    margin-top: 0.625rem;
    text-align: center;
    transition: 0.4s;
    font-size: 16px;
    font-weight: bold;
}

.left_bar_h ul {
    margin-top: 20px;
    color: var(--element1);
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    transition: 0.4s;
    margin-bottom: 20px;
}

.left_bar_h li {
    width: 25%;
}

#qwe {
    float: left;
    margin-left: 15px;
}
#qwe li:hover{
    color: #01408e;
    text-decoration:underline ;
    text-decoration-color: #01408e;
    font-weight: bold;
    transition: 0.4s;
}
#asd {
    color: var(--element1);
    text-align: right;
    transition: 0.4s;
}
#mnb {
     float: left;
    margin-left: 15px;
}
#mnb li:hover{
    color: #01408e;
    text-decoration:underline ;
    text-decoration-color: #01408e;
    font-weight: bold;
    transition: 0.6s;
}
#zxc{
    color: var(--element1);
    text-align: right;
    transition: 0.6s;
}
.left_bar_c p {
    color: var(--element1);
    margin-bottom: 0.625rem;
    margin-top: -0.625rem;
    transition: 0.4s;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}
.right_bar_c p {
    color: var(--element1);
    margin-bottom: 0.625rem;
    margin-top: -0.625rem;
    transition: 0.4s;
    margin-left: 15px;
    margin-top: 15px;
}

.left_bar_f p {
    color: var(--element1);
    margin-bottom: 0.625rem;
    margin-top: -0.625rem;
    transition: 0.4s;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.left_bar_c ul {
    color: var(--element1);
    transition: 0.4s;
}

.left_bar_c li {
    font-size: 0.875rem;
    line-height: 30px;
}
.right_bar_c ul {
    color: var(--element1);
    transition: 0.4s;
}
.right_bar_c p{
    font-size: 16px;
    font-weight: bold;
}

.right_bar_c li {
    font-size: 0.875rem;
    line-height: 30px;
}
.left_bar_f ul {
    font-size: 0.875rem;
    line-height: 40px;
    color: var(--element1);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    transition: 0.4s;
}
.left_bar_f li:hover{
    transition: 0.6s !important;
    color: #01408e;
    text-decoration:underline ;
    text-decoration-color: #01408e;
    font-weight: bold;
    
}
.left_bar_f ul li:before{
    content:"#";
    color: #0000ff;
}

.center ,#center{
    padding-bottom: 0.625rem;
    margin-bottom: 2.1875rem;
    width: 100%;
    background-color: var(--surface3);
    border-radius: 0.46875rem;
    box-shadow: var(--touying) 0px 4px 10px 0px;
    color: var(--element1);
    transition: 0.4s;
}

.center img {
    border-radius: 0.46875rem;
}

.center h4,
p {
    margin: auto;
    width: 90%;
}
.center h4{
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}
.center h4:hover{
    text-decoration:underline #01408e ;
}
.center span{
    margin-right: 5px;
}

@media screen and (min-width: 1201px) { 
.zuiclasss img{
    width: 100%;
    height: 210px;
}
.zuiclassimg{
    width: 100%;
    height: 210px !important;
}
} 
@media screen and (min-width: 1401px) { 
.zuiclasss img{
    width: 100%;
    height: 270px;
}
.zuiclassimg{
    width: 100%;
    height: 270px !important;
}
} 
.neirong p img{
    width: 100% !important;
}
.center p {
    margin-left: 30px;
    padding-top: 0.625rem;
    font-size: 14px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

}

.xiaobiao {
    padding-top: 1.25rem;
    margin: auto;
    width: 90%;
}

.jixuyuedu {
    float: right;
    color: #0000ff;
}
.jixuyuedu:hover{
    color: rgb(80, 24, 131);
}


.cixi {
    width: 16%;
    position: fixed;
    top: 0;

}



#footer{
    float: left;
    bottom: 0;
    color: #545454;
    text-align: center;
    width: 100%;
    height:200px;
    position:absolute;
    bottom:0px;
    left:0px;
    background-color: #363636;
}
#footer p{
        margin-bottom: 20px;
        margin-top: 20px;
         width: 100%;
         text-align: center;
}



/* 内容区域css */
.neirong {
    margin: auto;
    width: 90%;
    text-align: left;
    font-size: 1rem;
    line-height: 35px;
}

.neirong a {
    color: blue;
}

.neirong ul li {
    list-style: disc;
}

.neirong ul li a {
    color: blue;
}
/* 归档css */
#guidangbox {
    width: 100%
}

.guidangboxlist {
    width: 100%;
    height: 90px;
    background-color: var(--surface3);
    border-radius: 0.46875rem;
    margin-top: 35px;
    transition: 0.4s;
    box-shadow: var(--touying) 0px 4px 10px 0px;
}
.guidangboxlist:hover{
    background-color: rgba(82, 103, 109, 0.2);
    transition: 0.2;
}

.guidangbox h1 {
    color: var(--element1);
    transition: 0.4s;
}

.guidangboxlist p {
    color: var(--element1);
    margin-top: 20px;
    transition: 0.4s;
}

.gdtime {
    color: var(--element1);
    transition: 0.4s;
    margin-top: 20px;
}

.gdtitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    width: 60%;
    margin-right: 200px;
    overflow-x: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.guidangboxlist img {
    display: block;
    float: right;
    width: 120px;
    height: 90px;
    margin-top: -70px;
    border-radius: 7.5px;
}

/* 标签css */
	#center_bar #tags {
		padding: 0 20px 0 20px;
		height:100%;
		width: 95%;
		margin:0 0 20px 0; 
		background-color:  var(--surface3);
		border-radius: 0.46875rem;
        transition: 0.4s;
        box-shadow: var(--touying) 0px 4px 10px 0px;
	}
    
    
/* 友链css */

#youlian{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background-color: var(--surface3);
    border-radius: 0.46875rem;
    box-shadow:var(--touying) 0px 4px 10px 0px; 
}	
#youlian:after{
	content:'';
	width: 30%;
	margin: 35px 30px 0 0
}
.youlian{
    width: 30%;
    height: 50px;
    margin: 17px 30px 17px 0;
    padding: 10px 10px 10px 10px; 
}
.youlian:hover{
    background-color: rgba(82, 103, 109, 0.2);
    border-radius: 0.46875rem;
    transition: linear 0.2s;
}
.youlian img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
/* 搜索css */

#search{
	background-color: var(--surface3) !important;
	border-radius: 0.46875rem;
	height: 100%;
    transition: 0.4s;
}
#search h2{
	padding-top: 40px;
	margin: 0 0 0 40px;
    color: var(--element1);
    transition: 0.4s;
}
#sicon{
	 position: relative;
}
#sicon .iconsearch{
	background: url(../img/search.png) no-repeat;
	background-size: 30px 30px;
	width: 50px;
	height: 50px;
    position: absolute;
    top: 30px;
    left: 50px;
}
#search	input{
    background:var(--search);    
    outline:none;   
    border:none;
    border-radius: 7px;
    height: 50px;
    width: 90%;
    margin-top: 20px; 
    margin-left: 40px;
    margin-bottom: 40px;
    text-indent: 50px;
    font-size: 20px;
    padding-right: 20px;
    color: var(--element1);
    transition: 0.4s;
}
#search input::-webkit-input-placeholder { 
    color:var(--tertiary); 
    transition: 0.4s;
} 
.qqqq{
	width: 100%;
    height: 100%;
	margin-top: 30px; 
	background-color:  var(--surface3) !important;
	margin-bottom: 40px; 
    transition: 0.4s;
}
.qqqq p{
	padding-top: 20px;
	padding-bottom:  20px;
	font-size: 18px;
	margin-left: 40px; 
    color:var(--element1);
    transition: 0.4s;
}

/* 分类页面css */

#classify{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    background-color: var(--surface3);
    border-radius: 0.46875rem;
    transition: 0.4s;
    box-shadow: var(--touying) 0px 4px 10px 0px;
}
#classify p{
    display: inline;
    margin-left:20px ;
    line-height: 100px;
    font-size: 20px;
}